@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500&family=League+Spartan:wght@400;500;700&family=Montserrat:wght@500&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,300;0,500;1,400&family=Rubik:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
}

.title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    background-color: #000;
    color: #fff;
}
  
  .header-background img {
    max-width: 100%;
  }
/*------------------main--------------------*/

.imagen-background{
    display: none;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-image: url('../images/pexels-frank-araujo-large.jpg');
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No se repite la imagen */

}

.data {
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba(255, 255, 255, 0.76);
    display: flex;
    flex-direction: column;
    justify-self: start;
    line-height: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .data span{
    font-weight: bold;
  }
  .title-data{
    width: 350px;
    padding: 10px;
    background-color: green;
    position: absolute;
    left: -10px;
    color: #fff;
  }
.list-container-data{
    margin-top: 80px;
}
  
.weather {
    padding: 10px;
    grid-column: 4/4;
    grid-row: 2/3;
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
    justify-self: start;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
.weather span{
    font-weight: bold;
}
.title-weather{
    display: flex;
    justify-content: space-between;
    width: 210px;
    padding: 10px;
    background-color: green;
    position: absolute;
    left: -10px;
    color: #fff;
}
.title-weather .svg-cli{
    width: 50px;
    height: 50px;
}

.list-container-weather{
    margin-top: 80px;
}


  /*--------------footer------------------*/

.all-contac{
    margin: 2em auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 10px;
    border-radius: 10px;
    color: white;
}
.copy, .copy2{
    font-size: 21px;
}

